<h2>Zaakceptuj mapy</h2>

<table class="table table-responsive" ng-controller="Maps">
    <div id="alert0"></div>
    <thead>
    <tr>
        <th>L.p</th>
        <th>Nazwa mapy</th>
        <th>Miniatura</th>
        <th>Akceptuj</th>
        <th>Usuń</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="map in maps">
        <td>{{$index+1}}</td>
        <td>{{map.name}}</td>
        <td><img src="../web/uploaded/maps/{{map.name}}.{{map.extension}}"> </td>
        <td><button class="btn btn-success" ng-confirm-click="Na pewno zaakceptować miniature mapy {{map.name}}?" confirmed-click="Accept(map.id,$index)">Akceptuj</button> </td>
        <td><button class="btn btn-danger" ng-confirm-click="Na pewno usunąć miniature mapy {{map.name}}?" confirmed-click="Delete(map.id,$index)">Usuń</button></td>
    </tr>
    </tbody>
</table>