<h2>Edytuj {{siteToEdit.site}}</h2>
<form>
    <div id="alert1"></div>
    <div class="form-group">
        <label for="subject">Nagłówek</label>
        <input type="text" id="subject" ng-value="siteToEdit.subject">
    </div>
    <div class="form-group">
        <label for="content">Treść</label>
        <textarea id="content" cols="40" rows="6">{{siteToEdit.content}}</textarea>
    </div>
    <button class="btn btn-success" ng-click="EditSite(siteToEdit.id)">Edytuj</button>
</form>