<h2>Strony</h2>
<div ng-controller="Sites">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Nazwa strony</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="site in sites">
            <td>{{site.subject}}</td>
            <td>{{site.site}}</td>
            <td><a href="" ng-click="OpenEditSite($index)"><span class="glyphicon glyphicon-pencil"></span> Edytuj</a></td>
        </tr>
        </tbody>
    </table>
</div>