<section ng-init="CheckLogin()">
    <div id="motd" style="height: 250px;" ng-init="CheckReview()">
        <div class="motd-content">
            <h2>Dodaj opinie</h2>
            <p>
            <div id="alertAddReview"></div>
            <form id="AddReview" ng-if="Visability">
                <input type="hidden" id="name" name='name' ng-value="login.login" required>
                <textarea id="content" cols="20" rows="6" name="content" required>Wprowadz treść</textarea><br>
                <button ng-click="SendForm('AddReview')">Dodaj</button>
            </form>
            <form id="EditReview" ng-if="!Visability">
                <div id="alert2"></div>
                <input type="hidden" id="id" name='name' ng-value="review.id" required>
                <textarea id="content1" cols="20" rows="6" name="content" required>{{review.content}}</textarea><br>
                <button ng-click="EditReview()">Dodaj</button>
            </form>
            </p>
        </div>
    </div>
</section>
