<section ng-init="CheckLogin()">
    <div id="motd">
        <div class="motd-content">
            <h2>Dodaj sieć serwerów</h2>
            <p>
            <div id="alertAddServerNetwork"></div>
                <form id="AddServerNetwork">
                <label for="name">Nazwa</label>
                <input type="text" id="name" name="name" required>
                <label for="website">Adres strony</label>
                <input type="text" id="website" name="website">
                <button ng-click="SendForm('AddServerNetwork')">Dodaj</button>
                </form>
            </p>
        </div>
    </div>
</section>
