<section  ng-init="CheckLogin()">
    <div id="motd">
        <h2>Edytuj profil</h2>
        Zmień hasło:<br>
        <div id="alertChangePassword"></div>
        <form method="post" id="ChangePassword">
            <div>
                <label for="oldpw">Stare hasło</label>
                <input id="oldpw" name="oldpw" type="password">
            </div>
            <div>
                <label for="newpw1">Nowe hasło</label>
                <input id="newpw1" name="newpw1" type="password">
            </div>
            <div>
                <label for="newpw2">Powtórz hasło</label>
                <input id="newpw2" name="newpw2" type="password">
            </div>

            <button ng-click="SendForm('ChangePassword')">Potwierdź</button>
        </form>
        <h2>Zmień zdjęcie profilowe</h2>
        <div id="alertAddMap"></div>
        <form id="AddMap" method="post">
            <label for="file">Plik:</label>
            <input type="file" id="file" name="file">
            <input type="hidden" name="action" value="avatar">
            <button ng-click="SendForm('AddMap')">Dodaj!</button>
        </form>
    </div>
</section>