<section ng-init="CheckLogin()">
    <div id="motd">
        <div class="motd-content" ng-controller="MainCtrl" ng-init="GetServerNetwork()">
            <h2>Moje sieci</h2>
            <p>
                <table class="table table-responsive centered">
                    <thead>
                    <tr>
                        <th>Nazwa sieci</th>
                        <th>Liczba serwerów</th>
                        <th>Liczba graczy</th>
                        <th>Strona</th>
                        <th>Data dodania</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ networks.name }}</td>
                        <td>{{ networks.server_count }}</td>
                        <td></td>
                        <td>{{ networks.website }}</td>
                        <td>{{ networks.date }}</td>
                    </tr>
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</section>