<section ng-controller="Paginate">
    <div id="motd">
        <h1>Najnowsze informacje</h1>
        <div class="motd-content" ng-repeat="new in filteredTodos">
            <h2>{{ new.subject }}</h2>
            <p ng-bind-html="new.content | trusted"></p>
            <br><br><span>{{ new.date }}</span><hr>
        </div>
        <div data-pagination="" data-num-pages="numPages()"
             data-current-page="currentPage" data-max-size="maxSize"
             data-boundary-links="true"></div>
    </div>
</section>