<section>
    <div id="motd" ng-init="Reviews()">
        <h1 class="special-header">Opinie użytkowników</h1><br><br><br>
        <div class="motd-content" ng-repeat="review in reviews" ng-if="review.accept == 1">
            <h2>{{ review.name }}</h2>
            <p ng-bind-html="review.content | trusted">
            </p><br><br><span>{{ review.date }}</span><hr>
        </div>
    </div>
</section>