<div ng-init="CheckLogin()"></div>
<section ng-controller="GetServers" ng-init="GetServers('profile')">
    <h2>Dodaj nowy serwer!</h2>
    <form id="AddServer">
        <div id="alertAddServer"></div>
        <label for="ip-adress">Adres ip:</label>
        <input type="text" id="ip-adress" name="ip" required>
        <br>
        <label for="type">Typ serwera:</label>
        <select ng-init="GetTypeServer()" id="type" name="type">
            <option ng-repeat="type in types" ng-value="type.id">{{type.name}}</option>
        </select><br>
        <button ng-click="SendForm('AddServer')">Dodaj!</button>
    </form>
    <h1 class="special-header"><img src="web/images/star.png">Lista moich serwerów</h1>
    <div class="alert alert-info"><strong>Aby potwierdzić własność serwera, dodaj do jego nazwy frazę "JoinServ.eu" i odśwież stronę!</strong></div>
    <table>
        <thead>
        <tr>
            <th>Nazwa serwera</th>
            <th>Ip</th>
            <th>Własnośc serwera</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="server in servers" ng-if="server.owner === login.id">
            <td>{{ server.info.HostName }}</td>
            <td>{{ server.ip }}</td>
            <td ng-if="server.accept === 0"><div class="alert alert-danger"><strong>Nie potwierdzona!</strong></div></td>
            <td ng-if="server.accept === 1"><div class="alert alert-success"><strong>Potwierdzona!</strong></div></td>
        </tr>
        </tbody>
    </table>
    <h1 class="special-header"><img src="web/images/star.png">Dodaj miniaturę mapy!</h1>
    <div id="alertAddMap"></div>
    <form id="AddMap" method="post">
        <label for="name">Nazwa mapy (np. de_train, cs_militia)</label>
        <input type="text" id="name" name="name">

        <label for="file">Plik:</label>
        <input type="file" id="file" name="file">
        <input type="hidden" name="action" value="map">
        <button ng-click="SendForm('AddMap')">Dodaj!</button>
    </form>
</section>