<h2>Aktualne stawki</h2>

<table class="table table-responsive" ng-init="Stawki()">
    <tr>
        <th>Pozycja</th>
        <th>Cena</th>
    </tr>
    <tr ng-repeat="stawka in stawki">
        <td>{{stawka.position}}</td>
        <td>{{stawka.promo_amount + 1}}zł</td>
    </tr>
</table>