<form ng-controller="MainCtrl" id="Register" role="form" novalidate>
    <h2>Zarejestruj się!</h2>

    <div id="alertRegister"></div>
    <div class="form-group">
        <label for="newlogin">Login</label>
        <input type="text" id="newlogin" name='login' required>
    </div>
    <div class="form-group">
        <label for="pw1">Hasło</label>
        <input type="password" id="pw1" name="pw" required>
    </div>
    <div class="form-group">
        <label for="pw2">Powtórz hasło</label>
        <input type="password" id="pw2" name="pw2" required>
    </div>
    <div class="form-group">
        <label for="mail">Email</label>
        <input type="text" id="mail" name="mail" required>
    </div>
    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LcTxBATAAAAAAV1HEhXtXY6WtAx_TY1cnX8-N7B"></div>
    </div>
    <!--js-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <button class="btn btn-success" ng-disabled="Register.$invalid" ng-click="SendForm('Register')">Dołącz do nas!</button>
</form>