<div ng-init="CheckLogin()"></div>
<section ng-controller="GetServers" ng-init="GetServers()">
    <div id="motd">
        <h1>Reklamuj się</h1>
        <br><br><br>
        <div id="alert2"></div>
        <h2>Podkreślenie na liście serwerów:</h2><br>
        <div class="alert alert-info">
            Koszt podkreślenia serwera wynosi: <strong ng-init="PriceOfUnderline()">{{underlinePrice}}zł</strong>
        </div>
        Wybierz serwer:

        <select id="serverIP">
            <option ng-repeat="server in servers" ng-value="server.ip" ng-if="server.owner === login.id && server.hl == 0">{{server.ip}}</option>
        </select>
        <button class="btn btn-success" ng-click="SetUnderline()" >Dodaj!</button>
    <br><br><br>
        <table>
            <h2>Aktywne podkreślenia:</h2>
            <tr>
                <th>Nazwa serwera</th>
                <th>Adres ip</th>
                <th>Wygasa</th>
            </tr>
            <tr ng-repeat="server in servers" ng-if="server.owner === login.id && server.hl == 1">
                <td>{{server.info.HostName}}</td>
                <td>{{server.ip}}</td>
                <td>{{ server.highlight_expire }}</td>
            </tr>
        </table>
        <br><br><br>
        <br><br><br>


        <h2>Wyświetl serwer na stronie głównej!</h2><br>
        <button class="btn btn-info" ng-click="OpenPromo()">Aktualne stawki</button>
        <div id="alertAdvertise"></div>
        <form id="Advertise" method="post">
            <label for="server"> Wybierz serwer</label>
                <select id="server" name="server">
                    <option ng-repeat="server in servers" ng-value="server.ip" ng-if="server.owner === login.id && server.promo == 0">{{server.ip}}</option>
                </select>
            <label for="amount">Cena (w zł)</label>
                <input type="number" id="amount" name="amount" style="height: 25px;">

            <label for="expire">Czas (w dniach)</label>
                <input type="number" id="expire" name="expire" style="height: 25px;">
                    <br>
            <button class="btn btn-success" ng-click="SendForm('Advertise')">Wyślij</button>
        </form>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <table class="table">
            <h2>Aktywne serwery na głównej:</h2>
            <thead>
            <tr>
                <th>Nazwa serwera</th>
                <th>Adres ip</th>
                <th>Wygasa</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="server in servers" ng-if="server.owner === login.id && server.promo == 1">
                <td>{{server.info.HostName}}</td>
                <td>{{server.ip}}</td>
                <td>{{ server.promo_expire }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>