<section ng-controller="GetServers" ng-init="GetServers()" class="servers-view">
    <div>
        Filtruj:
        <select ng-model="typeServer" ng-init="GetTypeServer()">
            <option value="all" selected>Wszystkie</option>
            <option ng-repeat="type in types" ng-value="type.id">{{type.name}}</option>
        </select>

        Szukaj: <input type="text" ng-model="FilterIP" placeholder="Nazwa serwera lub ip">

    </div>
    <table class="table table-responsive centered">
        <thead>
            <tr>
                <th>L.p.</th>
                <th>Nazwa serwera</th>
                <th>Ip</th>
                <th>Gracze</th>
                <th>Mapa</th>
                <th>Steam/Gametracker</th>
            </tr>
        </thead>
        <tr style="text-align: center" ng-repeat="server in filteredServers | filter: FilterIP" ng-if="server.type == typeServer || typeServer == undefined || typeServer == 'all'">
            <td>{{server.lp}}.</td>
            <td ng-style="HighLight(server.hl)"><a href="?t=serverinfo&ip={{server.ip}}">{{ server.info.HostName }}</a></td>
            <td>{{ server.ip }}</td>
            <td><div class="progressbar"><div class="progressbar-progress" ng-style="ProgressBar(server.info.Players,server.info.MaxPlayers)"></div><div class="progressbar-count">{{ server.info.Players }}/{{ server.info.MaxPlayers }}</div></div></td>
            <td>{{ server.info.Map }}</td>
            <td><a target="_blank" href="https://www.gametracker.com/server_info/{{server.ip}}"><img src="web/images/gametracker.png"></a><a href="steam://connect/{{server.ip}}"> <img src="web/images/steam.png"></a></td>
        </tr>
    </table>
    <div data-pagination="" data-num-pages="numPages()"
         data-current-page="currentPage" data-max-size="maxSize"
         data-boundary-links="true"></div>
</section>