@font-face {
    font-family: Architext;
    src: url('fonts/architext.ttf');
}

html {
	font-family:Architext;
	font-size:14px;
	color:white;
	margin:0px;
	padding:0px;
}

body {
	margin:0px;
	padding:0px;
	background:black;
}
a {
	color:#fb7600;
	text-decoration:none;
}

img {
	position:relative;
	z-index:auto;
}

a:visited {
	color:#fb7600;
}

form {
	margin-bottom:0px;
}

.searchform {
	width:100%; 
}
.searchform select {
	background: url('../images/down_arrow.png') no-repeat right rgba(108,108,108,0.1);
	border:1px solid #fb7600;
	color:white;
	height:18px;
	font-family:inherit;
	text-align:center;
	height:30px;
	border-radius:5px;
}
.searchform input {
	background:rgba(108,108,108,0.1);
	border:1px solid #fb7600;
	color:white;
	height:18px;
	font-family:inherit;
	text-align:center;
	height:30px;
	border-radius:5px;
}
select::-ms-expand {
	display:none;
}
select {
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	text-overflow:'';
	text-indent:1px;
	background: url('../images/down_arrow.png') no-repeat right transparent;
}

::-webkit-input-placeholder {
   color:#fb7600;
   font-family:Architext;
   text-align:center;
}

:-moz-placeholder {
   color:#fb7600; 
   font-family:Architext; 
   text-align:center;
}

::-moz-placeholder {
   color:#fb7600;  
   font-family:Architext;
   text-align:center;
}

:-ms-input-placeholder {  
   color:#fb7600; 
   font-family:Architext; 
   text-align:center;
}
#showsidebar {
	background:#fb7600;
	width:64px;
	height:64px;
	position:fixed;
	bottom:0px;
	right:0px;
	z-index:10000;
	border-radius:5px 0px 0px 0px;
	cursor:pointer;
	box-shadow:0px 0px 5px black;
	display:none;
}
#background {
	position:fixed;
	left:0;
	top:-20px;
	z-index:-1;
	
	//min-height:100%;
	min-width:100%;
}

#wrapper {
	padding:0px;
	margin:0 auto;
	position:relative;
	z-index:999;
	margin-bottom:120px;
	box-shadow:0px 0px 3px black;
	-webkit-box-shadow:0px 0px 3px black;
	-moz-box-shadow:0px 0px 3px black;
	-o-box-shadow:0px 0px 3px black;
	-ms-box-shadow:0px 0px 3px black;
}

/* Panel górny */
#userpanel {
	background-image:url('../images/userpanel-bg.png');
	background-size:100% 100%;
	position:fixed;
	z-index:1000;
}

input {
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	white-space:nowrap;
	border:0px none;
}

#userpanel input[type="text"], #userpanel input[type="password"] {
	box-shadow:0px 0px 1px black;
}
#userpanel input {
	height:18px;
	font-family:inherit;
	transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
	text-align:center;
}
#userpanel input[type="text"]:focus, #userpanel input[type="password"]:focus {
	transform:scale(1.2);
	font-size:12px;
}
input[type="submit"] {
	white-space:nowrap;
	border:0px none;
	background-image:url('../images/button.png');
	background-size:100% 100%;
	padding:2px;
	font-size:12px;
	font-family:inherit;
	color:white;
	text-shadow:0px 1px 1px black;
	border-radius:2px;
	box-shadow:0px 0px 2px #fb7600;
	-webkit-box-shadow:0px 0px 2px #fb7600;
	-moz-box-shadow:0px 0px 2px #fb7600;
	-o-box-shadow:0px 0px 2px #fb7600;
	-ms-box-shadow:0px 0px 2px #fb7600;
	cursor:pointer;
}
.bgtext {
	background-image:url('../images/button.png');
	background-size:100% 100%;
	padding:2px 25px;
	display:table;
}
.bgsemi {
	background:rgba(0,0,0,0.4);
}
/* Nagłówek */
#logo {
	transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
}
#logo:hover {
	opacity:0.6;
}
#header {
	padding:3%;
	background-image:url('../images/headerbg.png');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:bottom left;
}
/* Główna strona */
#site {
	margin-top:-1%;
	padding:0px;
}
/* Menu górne */
#nav_horizontal {
	list-style:none;
	width:100%;
	text-align:center;
	margin:0;
	padding:0;
	background-image:url('../images/button.png');
	background-size:auto 100%;
	background-repeat:repeat-x;
	border-radius:5px 5px 0px 0px;
	display:table;
	overflow:hidden;
}
#nav_horizontal li {
	//display:table-cell;
	padding:1%;
	font-size:15px;
	cursor:pointer;
	transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
}
#nav_horizontal li:hover {
	background:rgba(0,0,0,0.5);
}
#nav_horizontal li:not(:last-child) {
	border-right-style:solid;
	border-right-color:rgba(255,255,255,0.3);
	border-right-width:1px;
}
/* breadcrumbsy, czy jak to sie tam nazywa */
#breadcrumbs {
	list-style:none;
	width:100%;
	background:white;
	color:black;
	margin:0px;
	padding:0px;
}
#breadcrumbs li {
	display: inline-block;
	padding:2px 5%;
	text-align:center;
	background-image:url('../images/separator.png');
	background-position:right;
	background-repeat:no-repeat;
	cursor:pointer;
	opacity:0.5;
	transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
}
#breadcrumbs li:hover {
	opacity:1.0;
}
#content {
	background-color:rgba(28,28,28, 0.9);
	background-size:100% auto;
	min-height:200px;
	padding:0px;
}
#sidebar {
	position:relative;
	z-index:1000;
	float:left;
	width:25%;
	margin-left:0px;
	box-shadow:0px 0px 3px black;
	-webkit-box-shadow:0px 0px 3px black;
	-moz-box-shadow:0px 0px 3px black;
	-o-box-shadow:0px 0px 3px black;
	-ms-box-shadow:0px 0px 3px black;
	min-height:100%;
}
.thead {
	text-align:center;
	padding:3%;
	background;
	background-image:url('../images/button.png');
	background-size:auto 100%;
	background-repeat:repeat-x;
	position:relative;
	text-shadow:0px 0px 3px black;
	box-shadow:0px 0px 2px black;
	-webkit-box-shadow:0px 0px 2px black;
	-moz-box-shadow:0px 0px 2px black;
	-o-box-shadow:0px 0px 2px black;
	-ms-box-shadow:0px 0px 2px black;
}
.thead img, .pagetitle img {
	position: absolute;
	width: auto;
	height: 100%;
	right: -8px;
	top: 0px;
}
#sbar_menu ul {
	list-style:none;
	width:100%;
	padding:0px;
	margin:0px;
}
#sbar_menu ul > li {
	width:100%;
	text-align:center;
	padding:3%;
	cursor:pointer;
	transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
}
#sbar_menu > ul > li:hover {
	text-shadow:0px 0px 3px white;
}
#sbar_menu > ul > li {
	border-bottom:2px solid #353535;
	font-size:15px;
}
#sbar_menu > ul > ul {
	box-shadow:0px 0px 10px black inset;
	-webkit-box-shadow:0px 0px 10px black inset;
	-moz-box-shadow:0px 0px 10px black inset;
	-o-box-shadow:0px 0px 10px black inset;
	-ms-box-shadow:0px 0px 10px black inset;
}
#sbar_menu > ul > ul > li {
	background:rgba(0,0,0,0.3);
	color:#BC4900;
	border-bottom:1px solid black;
	border-top:1px solid #232323;
	font-size:13px;
}
#sbar_menu > ul > ul > li:hover {
	background:rgba(86, 30, 0, 0.3);
	text-shadow:0px 0px 3px #BC4900;
}
#partnerzy a {
	display:block;
	padding:5%;
	transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
}
#partnerzy a:hover {
	opacity:0.5;
}
#sidebar #stats div {
	font-size:13px;
	padding:2% 5%;
	margin:0px;
}

#main {
	width:75%;
	float:left;
}
#main > * {
	padding:2% 5%;
} 
#items .row {
	overflow:hidden;
}
.pagehead {
	box-shadow:0px 0px 3px black;
	-webkit-box-shadow:0px 0px 3px black;
	-moz-box-shadow:0px 0px 3px black;
	-o-box-shadow:0px 0px 3px black;
	-ms-box-shadow:0px 0px 3px black;
}
.pagetitle div, .altext {
	text-align:center;
	padding:1% 5%;
	background-image:url('../images/button.png');
	background-size:auto 100%;
	background-repeat:repeat-x;
	display:table;
	text-shadow:0px 0px 3px black;
	box-shadow:0px 0px 2px black;
	-webkit-box-shadow:0px 0px 2px black;
	-moz-box-shadow:0px 0px 2px black;
	-o-box-shadow:0px 0px 2px black;
	-ms-box-shadow:0px 0px 2px black;
	min-width:2px;
	color:white;
}
.pagetitle {
	padding-bottom:10px;
	font-size:15px;
}
.pagetitle > div {
	position:relative;
}
.section-h1 {
	border-bottom:1px solid #F77101;
}
.section-h1 div:first-child {
	text-align:center;
	padding:1% 5%;
	font-size:15px;
	background-image:url('../images/button.png');
	background-size:auto 100%;
	background-repeat:repeat-x;
	display:table;
	text-shadow:0px 0px 3px black;
	box-shadow:0px 0px 2px black;
	-webkit-box-shadow:0px 0px 2px black;
	-moz-box-shadow:0px 0px 2px black;
	-o-box-shadow:0px 0px 2px black;
	-ms-box-shadow:0px 0px 2px black;
	min-width:2px;
}
.section-h1:after {
	content:'';
	clear:both;
	display:block;
}
.product {
	float:left;
	text-align:center;
	padding:6% 6% 10px;
	transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
}

.product-background {
	position:relative;
	background:#FF6A00;
	transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
	box-shadow:0px 0px 3px #FF6A00;
	-webkit-box-shadow:0px 0px 3px #FF6A00;
	-moz-box-shadow:0px 0px 3px #FF6A00;
	-o-box-shadow:0px 0px 3px #FF6A00;
	-ms-box-shadow:0px 0px 3px #FF6A00;
}
.product:hover .product-background {
	transform:scale(1.05);
}
.product-info {
	position:absolute;
	top:0px;
	width:100%;
	color:rgba(0,0,0,0.0);
}
.product-name {
	font-size:89%;
}
.product-cond {
	font-size:60%;
}
.product:hover .product-info, .product:hover .product-price {
	color:black;
}
.product-price {
	position:absolute;
	bottom:0px;
	width:100%;
	color:rgba(0,0,0,0.0);
}
#footer {
	background-image:url('../images/userpanel-bg.png');
	background-size:100% 100%;
}
#footerflame {
	position:fixed;
	bottom:-500px;
	width:100%;
}
#footerflame img {
	z-index:-1;
	width:100%;
}