* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
span {
	text-overflow: ellipsis;
}
.row:after {
	content:'';
	clear:both;
	display:block;
}

[class*="col-"] {
    padding: 3px 5px;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .news-2 { width: 100%; margin:0px; }
    .news-1 { width: 50%; }
}
@media only screen and (min-width: 768px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
    .news-2 { width:66.5%; }
    .news-1 { width:33%; }
}
@media only screen and (min-width: 1280px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .news-2 { width:66.5%; }
    .news-1 { width:33%; }
}

.centered {
	margin:0px auto;
}
.right {
	float:right;
}
.left {
	float:left;
}
.clear {
	clear:both;
	display:block;
	content:'';
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-left {
	text-align:left;
}

.button {
    padding:10px 20px;
    transition-duration:0.2s;
}

.button-1 {
    color:white !important;
    background-image:url('../images/button.png');
    background-size:contain;
    font-size: 1.2em;
    border-radius:5px;
    font-weight:600;
    padding: 15px 23px 15px 23px;
    opacity: 1 !important;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 1900px){
    .button-1 {
        font-size: 17px;
    }

    .col-9 {
        width: 60%;
    }
}

.button-1:hover {
    opacity:0.6;
}

table {
    width:100%;
}

/*.button-1 {
    color:#08090e !important;
    border:2px solid #08090e;
}

.button-4, .button-1:hover {
    color:white !important;
    background:#08090e;
    border:2px solid #08090e;
}

.button-2, .button-5 {
    border:2px solid white;
    color:#FFF !important;
}

.button-3 {
    border:2px solid #ef202f;
    color:#ef202f !important;
}

.button-2:hover {
    background:white;
    color:#ef202f !important;
    cursor:pointer;
}

.button-3:hover {
    background:#ef202f;
    color:#0a0c14 !important;
    cursor:pointer;
}

.button-4:hover {
    background:transparent;
    color:#08090e !important;
}

.button-5:hover {
    background:#ef202f;
    border:2px solid #ef202f;
    color:white !important;
}*/

/* koniec frameworka, tutaj responsywne pierdoły na stronie teraz idą */
@media only screen and (max-width: 600px) {
	#primary_nav li {
        display:block;
        width:100%;
        text-align:center;
    }
    #primary_nav ul {
        width:100%;
    }

    #primary_nav {
        text-align:center;
    }
    
    .textrcenter {
        text-align:center !important;
    }
    #content, #sidebar {
        width:100% !important;
        margin:0px !important;
    }
    #showsidebar {
        display:block !important;
    }
    #main * {
        font-size:0.955em;
    }
    #wrapper {
        padding:0px 10px;
    }

    header {
        background-size:cover !important;
        background-position:center center !important;
    }
}

@media only screen and (max-width: 767px) {
    .sponsor {
        display:block;
    }
    #main {
        padding:5px;
    }
}

@media only screen and (max-width: 850px) {
    .motd-content {
        width:100% !important;
    }
    .motd-img {
        display:none;
    }

    body, html {
        font-size:0.95em !important;
    }
}

@media only screen and (min-width: 1000px) {
    body, html {
        font-size:14px !important;
    }

    #primary_nav > ul > li {
        padding:10px 20px 30px !important;
    }
}