@import url('fonts.css');

hr {
	background:#dbdbdb;
	border:0;
	height:1px;
}
html, body {
	margin:0px !important;
	font-family:Arial, sans-serif;
	font-size:13px;
	color:#9F9F9F;
	font-weight:200;
}

body {
	background-size:100%;
	background-repeat:no-repeat;
	background-size:cover;
}
#primary_nav a, #primary_nav li{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

#background {
	position:fixed;
	left:0;
	top:-20px;
	z-index:-1;
	
	min-height:100%;
	//min-width:100%;
}

#showsidebar {
	background:#E24915;
	width:64px;
	height:64px;
	position:fixed;
	bottom:0;
	right:0;
	z-index:10000;
	border-radius:5px 0;
	cursor:pointer;
	box-shadow:0 0 5px black;
	display:none;
}
#showsidebar img {
	width:100%;
}
a, a:visited {
	text-decoration:none;
	color:#ef611d;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
}
h1, h2 {
	font-weight:normal;
	color:black;
	font-size:1.32em;
}
h3, h4, h5, h6 {
	font-weight:200;
	font-size:1.15em;
}

#wrapper {
	width:100%;
	background-image:url('../images/site-bg.png');
	background-repeat:no-repeat;
	background-position:top right;
}

header {
	width:112%;
	background:url('../images/bg.jpg') center bottom;
	background-blend-mode: overlay;
	color:white;
	position: relative;
	left: -20px;
}


header #logo {
	padding: 10px;
	margin-left: 13px;
	background:#fdfdfd;
	box-shadow:0px -5px 15px #dadada inset;
	border-radius:0px 0px 5px 5px;
	position:relative;
	top:-3px;
}

header #logo a img {
	width: 50%;
}
@media only screen and (min-width: 768px){
	header {
		width:100% !important;
		height: 400px;
		background:url(../images/map.png) no-repeat center 90px,url('../images/bg.jpg') center bottom;
		background-blend-mode: overlay;
		color:white;
		left: 0;
	}
	header #logo a img {
		width: 170px;
	}
	header #logo {
		padding: 35px 0;
		margin:0 -30px 0 35px;
		background: url(../images/logo-bg.png) repeat-x;
		box-shadow: none;
		height: 109px;
		width:250px;
	}

}
#headerstuff:after {
	clear:both;
	content:'';
	display:block;
}

#primary_nav > ul {
	margin: 0 auto !important;
}
@media only screen and (min-width: 768px){
	#primary_nav > ul {
		list-style:none;
		max-width:90%;
		margin: 0 auto !important;
		padding: 20px 0 0 60px;
	}
}
#primary_nav ul:after {
	display:block;
	content:'';
	clear:both;
}

#primary_nav > ul > li {
	float:left;
	padding:10px 5px 30px 5px;
	transition-duration:0.2s;
	border-bottom:3px solid transparent;
	position:relative;
}

#primary_nav > ul > li:hover {
	border-bottom-color:#a0a5c7;
	cursor:pointer;
}

#primary_nav ul > li:hover > ul {
	display:block;
}

#primary_nav ul > li > ul {
	display:none;
	list-style:none;
	position:absolute;
	top:57px;
	right:0px;
	padding:5px;
	border-radius:5px;
	background:#222648;
	width:140px;
	box-shadow:0px 0px 5px black;
	border-top:1px solid #33396c;
	border-bottom:1px solid #14172b;
	z-index:700;
}

#primary_nav ul > li > ul:before {
	position:absolute;
	display:block;
	content:'';
	position: absolute;
	right: 20px;
	top: -15px;
	width: 0;
	height: 0;
	border-left:10px solid transparent;
	border-bottom: 15px solid #222648;
	border-right: 10px solid transparent;
}

#primary_nav ul > li > ul > li {
	text-shadow:0px 0px 3px black;
	text-align:center;
	padding:5px;
	transition-duration:0.2s;
}

#primary_nav ul > li > ul > li:not(:last-child):after {
	width:70%;
	display:block;
	border-bottom:1px solid #1d203d;
}
#primary_nav ul > li a{
	color: #fff !important;
}
#primary_nav ul > li {
	color:#fff !important;
	font-size: 16px;
}

@media only screen and (min-width: 1900px) {
	#primary_nav {
		margin-right: 100px;
	}
	#primary_nav ul > li {
		color:#fff !important;
		font-size: 17px;

	}

	header #logo {
		margin-left: 150px;
	}

	#circles {
		padding-left: 70px;
	}


}
#primary_nav ul > li > a:hover {
	text-decoration: none;
	color:#fff !important;
}

#primary_nav ul > li > ul > li > a:hover {
	text-decoration: none;
	color:#ef611d !important;
}

#welcome {
	width: 562px;
	height: 284px;
	padding: 90px 0;
	margin: 0 auto;
	margin-top:-30px;
	text-align: center;
}
#welcome > div {
	padding-bottom: 20px;
}
#welcome > .logo, #welcome > .logo2 {
	opacity: 0.9;
}
#welcome > div:nth-child(3) {
	margin: 25px 0;
}
#welcome h1 {
	color:inherit;
	margin:0px;
}

#welcome h2 {
	font-weight:200;
	color:inherit;
	margin:0px;
}

.logo {
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-shadow: 2px 1px 1px #000000;
}
.logo2 {
	font-size: 20px;
	color:#a0a5c7;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 1px 1px #000000;
}

@media only screen and (max-width: 768px) {
	.logo {
		font-size: 20px;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		text-shadow: 2px 1px 1px #000000;
	}
	.logo2 {
		font-size: 15px;
		color:#a0a5c7;
		font-weight: 400;
		font-family: 'Raleway', sans-serif;
		text-shadow: 2px 1px 1px #000000;
	}
	#welcome {
		width: 100%;
		height: 284px;
	}
}
#main {
	padding:20px 0px;
}

#motd {
	padding:3% 4%;
	border-left:2px solid #DBDBDB;
	border-radius:7px;
	position:relative;
	border-right:none;
}

#motd:before {
	display:block;
	width:100%;
	left:3px;
	top:0px;
	height:2px;
	position:absolute;
	content:'';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdbdb+0,000000+100&amp;0.65+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(219,219,219,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,219,219,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(219,219,219,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(219,219,219,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(219,219,219,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(219,219,219,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6dbdbdb', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

#motd:after{
	display:block;
	width:100%;
	left:3px;
	bottom:0px;
	height:2px;
	position:absolute;
	content:'';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdbdb+0,000000+100&amp;0.65+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(219,219,219,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,219,219,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(219,219,219,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(219,219,219,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(219,219,219,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(219,219,219,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6dbdbdb', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

.motd-content {
	width:75%;
}
.motd-content p {
	margin-top: 30px;
	color:#9F9F9F;
}
.motd-content span.title {
	padding-bottom: 10px;
	font-family: 'Raleway-Bold', sans-serif;
	color: #767676;
	font-size: 27px;
}

.motd-img {
	position:absolute;
	bottom:-75px;
	right:0px;
	z-index:-1;
}

#content {
	width:70%;
	float:left;
	margin-right:5%;
}

#sidebar {
	width:25%;
	float:left;
}

#site {
	margin-top:70px;
}

#site h1 {
	border-bottom:1px solid #d1d1d5;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: normal !important;
	padding-bottom: 20px;
}

#site .special-header {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: normal !important;
}

#site h1.special-header:after {
	position:relative;
	bottom:0;
	height:1px;
	display:block;
	left:0;
	background:#f6701c;
	width:50%;
	content:'';
}

#site h1:after {
	position:relative;
	bottom:0;
	height:1px;
	display:block;
	left:0;
	background:#191a2f;
	width:25%;
	content:'';
	top: 21px;
}

h1 img {
	margin:-10px 20px 0 0;
}

table td {
	padding:30px 0px;
	border-bottom:1px solid #DADADA;
}


.progressbar {
  background-color: #626262;
  box-shadow:0px 3px 6px #131313 inset;
  border-radius: 5px; /* (height of inner div) / 2 + padding */
  padding: 0px;
  width:80px;
  position:relative;
}

.progressbar-progress {
   height: 20px;
   border-radius: 5px;
   box-shadow:0px -15px 6px rgba(13,13,13,0.2) inset;
}

.progressbar-count {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	text-align:center;
	color:white;
}

section:after {
    display:block;
    height:50px;
    content:'';
}

.news {
	border-bottom:1px solid #DADADA;
	padding:2% 0px;
}

.news h3 {
	color:#e44b16;
	font-family: 'Raleway-Bold', sans-serif;
	font-size: 17px;
}

.news h3 span {
	font-family: Arial, sans-serif;
	font-size:10px;
	color:#7B7B7B;
}
.news p {
	color: #9F9F9F;
}
.pa-link {
	font-size:12px;
}

.sbar-profile {
	padding:10% 1%;
}

.sbar-profile-avatar {
	width:30%;
	margin-right:5%;
}

.sbar-profile-info {
	width:65%;
}

.sbar-profile-info h3 {
	font-weight:400;
	color:#4c4d63;

}

.profile-nav > ul {
	width:100%;
	list-style:none;
	margin:0px;
	padding:5px;
}

.profile-nav > ul > li {
	width:100%;
	padding:10px;
	padding-left:40px;
	position:relative;
	cursor:pointer;
	font-size:18px;
}

.profile-nav a {
	color: #A0A0A0;
}

.profile-nav > ul > li img {
	position:absolute;
	left:10px;
	width:20px;
	height:20px;
	filter:invert(40%);
	-webkit-filter:invert(40%);
	-moz-filter:invert(40%);
	-o-filter:invert(40%);
}

.profile-nav > ul > li.nav-active, .profile-nav > ul > li:hover {
    text-shadow:0px 0px 7px black;
    background-image:url('../images/button.png');
    background-repeat:repeat-x;
    background-size:auto;
    border-radius:5px;
    font-weight:600;
	color:#fff !important;
}
.profile-nav > ul > li:hover a {
	color:#fff !important;
	text-decoration: none;
}
.profile-nav > ul > li.nav-active img, .profile-nav > ul > li:hover img {
	filter:none;
}

.profile-nav > ul > ul {
	display:none;
	list-style-image:url('../images/list-pmenu.png');
	margin:0px;
	padding:10px;
	width:100%;
	padding-left:20px;
	padding-bottom:0px;
	padding-top:5px;
	border-bottom:2px solid #949494;
}

.profile-nav > ul > ul > li {
	padding:5px 10px;
	border-bottom:1px solid #dadada;
}

.profile-nav > ul > ul > li:hover {
	color:#4c4d63;
	cursor:pointer;
}

.servers-view a {
	color: #A0A0A0;
}

.circle > h5 {
	font-weight: normal;
}

#circles{
	margin: 0 auto;
	width: 7#4CB1EA00px;
}
#circles > div {
	display: inline-block;
	margin-left: 8%;
}
footer {
	background:#eaeaea;
	padding:1% 0px;
}

.partner {
	width:100%;
	text-align:center;
	padding:5%;
}

.circle2 {
	border-radius: 50%;
	position: relative;
	z-index: -9;
	bottom: -155px;
	left:-5px;
}

.circle {
	width: 150px;
	height: 150px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
	background: #eaeaea;
	padding: 15px;
	text-align: center;
	font-size: 1.5em;
	z-index: 99999;
}

#circles > div:nth-child(1) .circle2 {
	border-left: 80px solid #4CB1EA;
	border-right: 80px solid transparent;
	border-top: 80px solid transparent;
	border-bottom: 80px solid transparent;
	transform: rotate(140deg);
}

#circles > div:nth-child(2) .circle2 {
	border-left: 80px solid #4CB1EA;
	border-right: 80px solid transparent;
	border-top: 80px solid #4CB1EA;
	border-bottom: 80px solid transparent;
	transform: rotate(140deg);
}

#circles > div:nth-child(3) .circle2 {
	border-left: 80px solid #4CB1EA;
	border-right: 80px solid #4CB1EA;
	border-top: 80px solid #4CB1EA;
	border-bottom: 80px solid transparent;
	transform: rotate(140deg);
}

h2, h3 {
	font-family: 'Raleway', sans-serif !important;
}