<h2>Wyślij maila</h2>

<form id="sendEmail" method="post" ng-controller="Mailer">
    <div id="alert2"></div>
    <div class="form-group">
        <label for="subject">Temat wiadomości</label>
        <input id="subject" name="subject">
    </div>
    <div class="form-group">
        <label for="content">Treść</label>
        <textarea name="content" id="content"></textarea>
    </div>
    <button class="btn btn-success" ng-click="SendMail()">Wyślij</button>
</form>