<h2>Uprawnienia: {{ userPermission.login }}</h2>
<div id="alert2"></div>
<select id="permission" ng-click="ChangePermission(userPermission.id)">
    <option value="2" ng-selected="admin">Administrator</option>
    <option value="1" ng-selected="redaktor">Redaktor</option>
    <option value="0" ng-selected="user">Użytkownik</option>
</select>