<h2>Użytkownicy</h2>
<div ng-controller="MainCtrl">
    <div id="alert0"></div>
    Wyszukaj: <input ng-model="searchText">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>E-Mail</th>
            <th>Data rejestracji</th>
            <th>Rola</th>
            <th>Portfel</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in filteredUsers | filter: searchText">
            <td>{{ user.login }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.date }}</td>
            <td>{{ permissions[user.admin] }}</td>
            <td>{{ user.wallet }}zł</td>
            <td>
                <a href="" confirmed-click="DeleteUser(user.id,$index)" ng-confirm-click="Na pewno chcesz usunąć '{{user.login}}?'"><span class="glyphicon glyphicon-remove-sign"></span> Usuń</a>
                <br><a href="" ng-click="OpenDialogPermission(user.id,$index)">Uprawnienia</a><br>
                <a href="" ng-click="OpenDialogWallet(user.id,$index)">Portfel</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div data-pagination="" data-num-pages="numPages()"
         data-current-page="currentPage" data-max-size="maxSize"
         data-boundary-links="true"></div>
</div>
