<h2>Portfel użytkownika {{ userWallet.login }}</h2>

Stan portfela: <strong>{{ userWallet.wallet }}zł</strong><br>
<button class="btn btn-success" ng-click="ShowInput = true" ng-hide="ShowInput"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj środki</button>

<div ng-if="ShowInput === true">
    <form>
        <input type="number" id="amount" placeholder="Wprowadź kwotę">
        <button class="btn btn-success" ng-click="FillWallet(userWallet.id)"><span class="glyphicon glyphicon-plus-sign"></span> Wyślij</button>
    </form>
</div>