<h2>Edytuj {{priceEdit.name}}</h2>

<form>
    <div class="form-group">
        <label for="price">{{price}}</label>
        <input type="number"  style="height: 25px;" id="price" ng-value="priceEdit.price"> zł
    </div>

    <div class="form-group">
        <label for="expire">{{expire}}</label>
        <input type="number"  style="height: 25px;" id="expire" ng-value="priceEdit.expire"> dni
    </div>

    <button class="btn btn-success" ng-click="EditPrice(priceEdit.id)"> Edytuj</button>
</form>