<h2>Zmień cennik</h2>
<div ng-controller="Pricing">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Nazwa usługi</th>
            <th>Cena</th>
            <th>Czas trwania</th>
            <th>Edytuj</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="price in pricing">
            <td>{{price.name}}</td>
            <td>{{price.price}}zł</td>
            <td>{{price.expire}} dni</td>
            <td><button class="btn btn-info" ng-click="OpenDialogPrice($index,price.service)">Edytuj</button></td>
        </tr>
        </tbody>
    </table>
</div>