<h2>Dodaj usługę sms</h2>
<div id="alertAddHomepaySms"></div>
<form method="post" id="AddHomepaySms">
    <div class="form-group" >
        <label for="sms">Numer id usługi HomePay</label>
        <input type="text" id="sms" name="sms_id">
    </div>

    <div class="form-group">
        <label for="price">Cena</label>
        <input type="text" id="price" name="price">
    </div>

    <div class="form-group">
        <label for="amount">Kwota doładowania</label>
        <input type="text" id="amount" name="amount">
    </div>

    <div class="form-group">
        <label for="number">Numer</label>
        <input type="text" id="number" name="number">
    </div>

    <div class="form-group">
        <label for="code">Treść smsa</label>
        <input type="text" id="code" name="code">
    </div>
    <button class="btn btn-success" ng-click="EditSmsAccept('AddHomepaySms')">Wyślij</button>
</form>