<h2>Edytuj ustawienia</h2>
<div id="alertEditHomepageSms"></div>
<form method="post" id="EditHomepageSms">
    <div class="form-group">
        <label for="price">Cena</label>
        <input type="text" ng-value="sms.price" id="price" name="price">
    </div>

    <div class="form-group">
        <label for="amount">Kwota doładowania</label>
        <input type="text" ng-value="sms.amount" id="amount" name="amount">
    </div>

    <div class="form-group">
        <label for="number">Numer</label>
        <input type="text" ng-value="sms.number" id="number" name="number">
    </div>

    <div class="form-group">
        <label for="code">Treść smsa</label>
        <input type="text" ng-value="sms.code" id="code" name="code">
    </div>
    <input type="hidden" ng-value="sms.id" name="id">
    <button class="btn btn-success" ng-click="EditSmSAccept('EditHomepageSms')">Wyślij</button>
</form>