<h2>Edytuj ustawienia</h2>
<div ng-controller="Homepay">
    <form id="editSetting" method="post">
        <table class="table table-responsive">
            <tr>
                <th>Id użytkownika</th>
                <td><input type="text" ng-value="settings.id_user" name="id"></td>
            </tr>
            <tr>
                <th>Id transkcji</th>
                <td><input type="text" ng-value="settings.acc_id" name="acc_id"></td>
            </tr>
            <tr>
            <tr>
                <th>Hash</th>
                <td><input type="text" ng-value="settings.acc_hash" name="hash"></td>
            </tr>
            <tr>
                <th>Klucz publiczny (PSC)</th>
                <td><input type="text" ng-value="settings.public_key" name="public_key"></td>
            </tr>
            <tr>
                <th>Klucz prywatny (PSC)</th>
                <td><input type="text" ng-value="settings.private_key" name="private_key"></td>
            </tr>
            <tr>
                <td colspan="2"><button class="btn btn-success" ng-click="Edit()">Edytuj</button></td>
            </tr>
        </table>
    </form>
</div>