<h2>Usługi sms</h2>
<button class="btn btn-success" ng-click="EditSms('add')"><span class="glyphicon glyphicon-plus"></span> Dodaj nową usługę</button>
<div id="alert0"></div>
<table class="table table-striped" ng-init="GetSmsApi()">
    <thead>
    <tr>
        <th>Cena</th>
        <th>Kwota doładowania</th>
        <th>Numer</th>
        <th>Treść</th>
        <th>Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="service in services">
        <td>{{service.price}}zł</td>
        <td>{{service.amount}}zł</td>
        <td>{{service.number}}</td>
        <td>{{service.code}}</td>
        <td><div ng-click="EditSms($index)"><span class="glyphicon glyphicon-pencil"></span> Edytuj</div><br>
            <a href="" confirmed-click="DeleteSms(service.id,$index)" ng-confirm-click="Na pewno chcesz usunąć kod '{{service.code}}?'"><span class="glyphicon glyphicon-remove-sign"></span> Usuń</a>
        </td>
    </tr>
    </tbody>
</table>