<h2>Serwery promowane na stronie głównej</h2>
<div ng-controller="Servers">
    <table class="table table-responsive table-striped" ng-init="GetServers()">
        <thead>
        <tr>
            <th>Nazwa serwera</th>
            <th>Ip</th>
            <th>Data wygaśnięcia</th>
            <th>Akcje</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="server in servers" ng-if="server.promo === 1">
            <td>{{server.info.HostName}}</td>
            <td>{{server.ip}}</td>
            <td>{{server.promo_expire}}</td>
            <td><button class="btn btn-danger" confirmed-click="DeleteServer(server.id,$index,'promo')" ng-confirm-click="Na pewno chcesz usunąć serwer '{{server.info.HostName}}' ze strony głównej?">Usuń</button></td>
        </tr>
        </tbody>
    </table>
</div>