<h2>Edycja sieci serwerów</h2>
<div ng-controller="Servers" ng-init="GetNetworks()">
    <div id="alert0"></div>
    Wyszukaj: <input ng-model="searchText">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Właściciel</th>
            <th>Data utworzenia</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="network in filteredNetwork | filter: searchText">
            <td>{{ network.name}}</td>
            <td>{{ network.owner}}</td>
            <td>{{ network.date }}</td>
            <td><div confirmed-click="DeleteNetwork(network.id,$index,'server')" ng-confirm-click="Na pewno chcesz usunąć sieć serwerów '{{network.name}}?'"><span class="glyphicon glyphicon-remove-sign"></span> Usuń</div> </td>
        </tr>
        </tbody>
    </table>
    <div data-pagination="" data-num-pages="numPages()"
         data-current-page="currentPage" data-max-size="maxSize"
         data-boundary-links="true"></div>
</div>
