<h2>Wszystkie serwery</h2>
<div ng-controller="Servers" ng-init="GetServers()">
    <div id="alert0"></div>
    Wyszukaj: <input ng-model="searchText">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Nazwa serwera</th>
            <th>Ip</th>
            <th>Właściciel</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="server in filteredServers | filter: searchText">
            <td>{{server.info.HostName}}</td>
            <td>{{server.ip}}</td>
            <td>{{ server.owner }}</td>
            <td><div confirmed-click="DeleteServer(server.id,$index,'server')" ng-confirm-click="Na pewno chcesz usunąć serwer '{{server.info.HostName}}?'"><span class="glyphicon glyphicon-remove-sign"></span> Usuń</div> </td>
        </tr>
        </tbody>
    </table>
    <div data-pagination="" data-num-pages="numPages()"
         data-current-page="currentPage" data-max-size="maxSize"
         data-boundary-links="true"></div>
</div>
