<h2>Zaakceptuj opinie</h2>

<table class="table table-responsive" ng-controller="Reviews">
    <div id="alert0"></div>
    <thead>
    <tr>
        <th>L.p</th>
        <th>Nazwa</th>
        <th>Treść</th>
        <th>Akceptuj</th>
        <th>Usuń</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="review in reviews">
        <td>{{$index+1}}</td>
        <td>{{review.name}}</td>
        <td>{{review.content}}</td>
        <td><button class="btn btn-success" ng-confirm-click="Na pewno zaakceptować opinie {{review.name}}?" confirmed-click="Accept(review.id,$index)">Akceptuj</button> </td>
        <td><button class="btn btn-danger" ng-confirm-click="Na pewno usunąć opinie {{review.name}}?" confirmed-click="Delete(review.id,$index)">Usuń</button></td>
    </tr>
    </tbody>
</table>