<h2>Dodaj newsa!</h2>
<form ng-controller="AddItem">
    <div id="alert0"></div>
    <div class="form-group">
        <label for="subject">Tytuł</label>
        <input type="text" id="subject">
    </div>

    <div class="form-group">
        <textarea id="content" cols="100" rows="8"></textarea>
    </div>
    <button class="btn btn-success" ng-click="AddNews()"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj</button>
</form>