<h2>Edytujesz "{{newsToEdit.subject}}"</h2>

<form>
    <div id="alert1"></div>
    <div class="form-group">
        <label for="subject">Tytuł</label>
        <input type="text" id="subject" ng-value="newsToEdit.subject">
    </div>

    <div class="form-group">
        <textarea id="content" cols="50" rows="8">{{newsToEdit.content}}</textarea>
    </div>
    <button class="btn btn-success" ng-click="AcceptEditNews(newsToEdit.id)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>

</form>