<div class="h2">Edytuj newsy</div>
<div class="container-fluid" ng-controller="EditItem" ng-init="GetNews()">
    <table class="table table-responsive">
        <div id="alert"></div>
        <thead>
        <tr>
            <th>Tytył</th>
            <th>Data</th>
            <th>Edytowany</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="new in filteredNews">
            <td>{{new.subject}}</td>
            <td>{{new.date}}</td>
            <td>{{new.edit}}</td>
            <td>
                <div ng-click="EditNews($index)"><span class="glyphicon glyphicon-pencil"></span> Edytuj</div>
                <div confirmed-click="DeleteNews(new.id,$index)" ng-confirm-click="Na pewno chcesz usunąć '{{new.subject}}'?"><span class="glyphicon glyphicon-remove-sign"></span> Usuń</div>
            </td>
        </tr>
        </tbody>
    </table>
    <div data-pagination="" data-num-pages="numPages()"
         data-current-page="currentPage" data-max-size="maxSize"
         data-boundary-links="true"></div>
</div>